<div class="container pt-4 h-100">
  <app-about></app-about>
  @if (clearPicker()) {
  <input
    class="form-control my-4"
    id="input"
    type="file"
    (change)="process($event)"
    accept="image/jpeg,image/png,application/json,application/javascript,text/html"
  />
  } @else {
  <input
    class="form-control my-4"
    id="input"
    type="file"
    (change)="process($event)"
    accept="image/jpeg,image/png,application/json,application/javascript,text/html"
  />
  }

  <ng-template #qualityTip class="qualityTip">
    lower values mean higher quality<br />
    try small changes to start
  </ng-template>
  <div class="mb-3 flex">
    <label for="quality" class="form-label">Quality: {{ quality() }}</label>
    <input
      type="range"
      id="volume"
      class="form-range"
      name="quality"
      min="0"
      max="63"
      [ngbTooltip]="qualityTip"
      tooltipClass="my-custom-class"
      #qualitySlider
      [value]="quality()"
      (input)="setQuality(qualitySlider.value)"
    />
  </div>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn my-button mb-3" (click)="setQuality('33')">
      Reset Quality
    </button>
    <button
      type="button"
      class="btn my-button mb-3"
      (click)="toggleClearPicker()"
    >
      Reset File Picker
    </button>
  </div>
  @if (inProgress()) {
  <ngb-progressbar
    class="mb-3"
    [showValue]="true"
    type="primary"
    [value]="progress()"
    [max]="progressMax()"
  />
  } 
  <app-result [elapsedTime]="elapsedTime()" [result]="result()"></app-result>
</div>
